.page4 {
  border-top: 1px solid var(--color-grey);
  padding: 100px 0 70px;
  background-color: var(--color-grey);
  font-size: var(--font-small);
}

.page4 > div {
  width: 70%;
  margin: 10px auto 0;
  display: grid;
  grid-template-columns: 3fr 6fr;
  column-gap: 10%;
}

@media screen and (min-width: 769px) {
  .page4 > div > div:first-child {
    justify-self: end;
  }
}

.call__number {
  line-height: 1.4em;
}

@media screen and (max-width: 768px), (orientation: portrait) {
  .page4 > div {
    grid-template-columns: 1fr;
  }
  .page4 > div > div:first-child {
    line-height: 2em;
  }
  .page4 > div > div:nth-child(2) {
    border-left: 1px solid var(--color-main);
    padding-left: 10px;
  }
  .page4 > div {
    width: 300px;
  }
}

@media screen and (max-width: 480px) {
}
